*{
    background:#ff69b4;
    margin:0px;
    padding:0px;
}

p, h1, h2, button, a{
    color:white;
}

button{
    background:#0096ff;
    border:3px solid #211993;
    padding:10px;
    margin-top:15px;
    margin-right:10px;
}

#button1{
    margin-left:80%;
}

.resume{
    background:#0096ff;
    color:white;
    text-decoration:none;
}

#bio{
    text-align:center;
    margin-left:27.5%;
    margin-right:27.5%; 
    font-size:28px;
    margin-top:75px;
}

#email{
    text-align:center;
    margin-left:27.5%;
    margin-right:27.5%; 
    font-size:28px;
}

#works{
    text-align:center;
    font-size:24px;
    margin-top:25px;
    margin-bottom:50px;
}

img{
    border-radius:50px;
}

.homeImg{
    width:50%
}

.homeh2{
    font-size:32px;
    margin-top:15px;
}

.homeLink{
    font-size:24px;
}

.homeP{
    margin-top:15px;
    margin-bottom:75px;
    margin-left:30%;
    margin-right:30%;
    font-size:22px;
}

#homeFlex{
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.projectFlex{
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content:center;
    align-items:center;
    text-align:center;
}

#finalHome{
    margin-bottom:100px;
    margin-top:15px;
    margin-left:30%;
    margin-right:30%;
    font-size:22px;
}

.firstImg{
    margin-top:75px;
    width:70%;
}

.projectH1{
    margin-top:10px;
    font-size:48px;
}

.projectLink{
    margin-bottom:45px;
    font-size:24px;
}

.projectH2{
    font-size:32px;
    margin-top:30px;
    margin-bottom:5px;
}

.projectP{
    margin-left:30%;
    margin-right:30%;
    font-size:22px;
}

.projectFeatures{
    margin-left:30%;
    margin-right:30%;
    font-size:22px;
    margin-top:10px;
    margin-bottom:40px;
}

.projectImg{
    width:50%;
}

#finalProject{
    margin-bottom:100px;
    margin-left:30%;
    margin-right:30%;
    font-size:22px;
    margin-top:10px;
} 