*{
    background:aqua;
}

button{
    display:flex;
    flex-direction:row;
    justify-content:right;
    background:black;
    color:white;
    border:2px solid white;
}

#resume{
    background:black;
}

#bio{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
}

img{
    border-radius:25px;
}