*{
    background:#ff69b4;
}

p, h1, h2, button, a{
    color:white;
}

button{
    background:black;
    border:2px solid #0096ff;
    width:200px;
}

#button1{
    margin-left:50%;
}

.resume{
    background:black;
    color:white;
    text-decoration:none;
}

#bio{
    text-align:center;
    margin-left:25%;
    margin-right:25%; 
}

#bio + p + p{
    color:red;
}

img{
    border-radius:25px;
    width:15%
}

#test{
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content:center;
    align-items:center;
}